* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  min-width: 850px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.header {
  height: 100vh;
  text-align: center;
  background-color: #eee;
  background-image: url(https://code.s3.yandex.net/web-code/images/freetrack/03/cover.png);
  background-position: center;
  background-size: cover;
}

.header-title {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 74px;
  /*text-transform: uppercase;*/
}

.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(95 13 238 / 0.5);
}

.content {
  width: 1200px;
  margin: 100px auto 50px;
  font-size: 0;
}

.card {
  display: inline-block;
  width: 500px;
  height: 200%;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 25px 25px 30px;
  box-shadow: 4px 4px 0 black;
}

.no-right-margin {
  margin-right: 0;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}

.card-text {
  font-size: 18px;
}

.card-image {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

.footer {
  display: flex;
  height: 200px;
  background-color: #5f0dee;
}

.footer-author {
  margin: auto;
  color: white;
  font-weight: 800;
  font-size: 25px;
}




/*
font-size  размер шрифта  
font-weight  «вес» шрифта, толщина (отношение ширины штриха к высоте буквы) 
font-family  семейство шрифта 
font-style  стиль шрифта, например, italic — курсивный шрифт 
направление расстановки — по часовой стрелке, начиная сверху 

4 значения 
для каждой стороны – своё значение 
padding: 20px 15px 30px 15px;

3 значения 
верх — 10px, по бокам — 20px, низ — 30px 
padding: 10px 20px 30px;

2 значения 
верх и низ — 10px, по бокам — 20px 
padding: 10px 20px;

1 значение 
10px со всех сторон 
padding: 10px; 

display по-английски «отображение» 
display: block;  сделает элемент блочным 
display: inline;  сделает элемент строчным 
display: inline-block;  сделает элемент блочно-строчным 

div {
  box-shadow: -2px 2px 5px #FD6969;
сдвинута на 2px влево, на 2px вниз 
радиус размытия — 5px 
цвет красноватый, #FD6969 
} 

display: flex;
/* *flex* переводится как «гибкий» 

*/

