body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
  min-width: 850px;
  font-family: 'Open Sans', Arial, sans-serif;
  }

header {
  height: 100vh;
  text-align: center;
  background-color: #eee;
  background-image: url(https://code.s3.yandex.net/web-code/images/freetrack/03/cover.png);
  background-position: center;
  background-size: cover;
}

h1 {
  padding-top: 270px;
  color: white;
  font-weight: 800;
  font-size: 74px;
  text-transform: uppercase;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(95 13 238 / 0.5);
}

.card {
  width: 360px;
  margin-bottom: 50px;
  background-color: #e3f3ff;
}

.card-title {
  font-weight: 800;
  font-size: 31px;
  text-align: center;
  text-transform: uppercase;
}

.card-text {
  font-size: 18px;
}

.card-image {
  width: 100%;
}




font-size /* размер шрифта */ 
font-weight /* «вес» шрифта, толщина (отношение ширины штриха к высоте буквы) */ 
font-family /* семейство шрифта */ 
font-style /* стиль шрифта, например, italic — курсивный шрифт */
/* направление расстановки — по часовой стрелке, начиная сверху */

/* 4 значения */
/* для каждой стороны – своё значение */
padding: 20px 15px 30px 15px;

/* 3 значения */
/* верх — 10px, по бокам — 20px, низ — 30px */
padding: 10px 20px 30px;

/* 2 значения */
/* верх и низ — 10px, по бокам — 20px */
padding: 10px 20px;

/* 1 значение */
/* 10px со всех сторон */
padding: 10px; */